.home-view {
  display: flex;
  gap: 25px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(239, 239, 245);
    border-radius: 3px;
    position: relative;

    &_scrollbar {
      height: 100%;
      padding: 16px;

      .n-scrollbar-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-footer {
      display: flex;
      justify-content: end;
      gap: 10px;

      .n-select {
        max-width: 200px;
      }
    }
  }

  &__service-card {
    display: flex;
    justify-content: space-between;

    &__right {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;

      &-title {
        font-size: 14px;
        font-weight: 400;
      }

      &-tag .n-tag__content {
        display: flex;
        gap: 5px;
      }
    }
  }

  &__divider {
    width: 1px;
    height: calc(100vh - 92px);
    background-color: rgb(239, 239, 245);
  }

  &__left {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-footer {
      display: flex;
      justify-content: end;
    }
  }

  &__result {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(239, 239, 245);
    border-radius: 3px;
    position: relative;

    &_scrollbar {
      height: 100%;
      padding: 16px;
    }

    &_data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_tables {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-common-td {
      text-align: center;

      &.number-animation {
        color: rgb(24, 160, 88);
        font-size: 16px;
      }
    }
  }
}